<section class="graph-section">
    <div class="graph-header">
        <div class="graph-header__text">
            Graph State
        </div>
        <div class="graph-header__text">
            Selected Node <span class="graph-header__text--light"> {{selectedNode ? selectedNode.id : "-"}} </span>
        </div>
    </div>
    <canvas 
        class="graph-canvas" 
        (click)="canvasClick($event)" 
        [width]="canvasResolution.width"
        [height]="canvasResolution.height"
        #graphCanvas>
    </canvas>
</section>